<!DOCTYPE html>
<html>

<head>
    <title>l0ggi setup</title>
    <script src="./vue.js"></script>
    <link type="text/css" rel="stylesheet" href="./bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="./bs-vue.css" />

    <!-- Load Vue followed by BootstrapVue -->
    <script src="./bs-vue.js"></script>
    <script src="./axios.js"></script>

</head>

<body>
    <div id="app">
        <div>
            <b-navbar toggleable="lg" type="dark" variant="info">
                <b-navbar-brand href="#">l0ggi setup</b-navbar-brand>
            </b-navbar>
        </div>
        <div>
            <b-container style="margin-top: 1%;">
                <b-row>
                    <b-col>
                        <b-card title="Enter your wifi settings">
                            <b-row>
                                <b-col>
                                    <b-form-input v-model="ap" placeholder="Enter SSID"></b-form-input>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col>
                                    <b-form-input v-model="pass" placeholder="Enter Pass"></b-form-input>
                                </b-col>
                            </b-row>
                            <b-button href="#" @click="send_request()" variant="primary">Try to connect...</b-button>
                        </b-card>
                    </b-col>
                </b-row>
            </b-container>
        </div>


        <!-- APP Ende-->
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                ap: "",
                pass: "",
            },
            methods: {
                async send_request() {
                    let formData = new FormData();
                    formData.append('WIFI_AP', this.ap);
                    formData.append('WIFI_PASS', this.pass);
                    await axios
                        .post("/configure", formData)
                        .then(response => response.data);
                    console.log(response.data);
                    this.makeToast('success', 'Connection succesfull', 'Connection to your wifi was established. Rebooting l0ggi to logging-mode');
                    this.makeToast('danger', 'Connection not succesfull', 'Connection to your wifi was not established. Please check the credentials.');
                },
                makeToast(variant = null, title, content) {
                    this.$bvToast.toast(content, {
                        title: title,
                        variant: variant,
                        solid: true
                    })
                }
            }
        })
    </script>
</body>

</html>